.btn {
    height: 40px;
    width: 40px;
    background-color: #afadad;
    border: none;
    border-radius: 8px;
    color: #fff;
    outline: none;
}

.btn.delete {
    width: 60px;
    margin: 0 10px;
}

.input-field-todo {
    width: 80px;
    height: 37px;
    border-radius: 8px;
    padding: 0 0 0 10px;
    margin-right: 10px;
    border: 1px solid black;
    outline: none;
}